@model IEnumerable<BetaViet.Models.LoiThe_ShowRoom_BoSuuTap>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Danh sách</h1>

<p>
    <a asp-action="Create">Tạo mới</a>
</p>
<table class="table" id="dt-opt">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModifiedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhaThietKe)
            </th>

            @*<th>
            @Html.DisplayNameFor(model => model.AvatarsJSON)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.PropertiesJSON)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiltersJSON)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.ImageSectionsJSON)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.CreatedOn.GetValueOrDefault().FormatDateTime()
            </td>
            <td>
                @item.ModifiedOn.GetValueOrDefault().FormatDateTime()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
                @*<div>
                    <a href="https://betaviet.com.vn/du-an-noi-that/@item.Slug" target="_blank">https://betaviet.com.vn/du-an-noi-that/@item.Slug</a>
                </div>*@
            </td>
            <td>
                @if (item.NhaThietKe != null)
                {
                    <span>@Html.DisplayFor(modelItem => item.NhaThietKe.Name)</span>
                }
            </td>

            @*<td>
        @foreach (var x in item.Avatars)
        {
            <img src="@x" class="rounded" style=" width: 100px;">
        }*@
            @*@Html.DisplayFor(modelItem => item.AvatarsJSON)*@
            @*</td>*@
            <td>
                @foreach (var x in item.Properties)
                {
                    <p>
                        <span>@x.Name</span>
                        <b>@x.Value</b>
                    </p>
                }
                @*@Html.DisplayFor(modelItem => item.PropertiesJSON)*@
            </td>
            <td>
                @foreach (var x in item.Filters)
                {
                    <p>
                        <span>@x.Name</span>
                        <b>@string.Join(", ", x.Value)</b>
                    </p>
                }
                @*@Html.DisplayFor(modelItem => item.FiltersJSON)*@
            </td>
            @*<td>
        @foreach (var x in item.ImageSections)
        {
            <p>@x.Name</p>
            <p>
                @foreach (var img in x.Images)
                {
                    <img src="@img.Url" class="rounded" style=" width: 100px;">
                }
            </p>
        }*@
            @*@Html.DisplayFor(modelItem => item.ImageSectionsJSON)*@
            @*</td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsDeleted)
        </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Xóa</a>
            </td>
        </tr>
}
    </tbody>
</table>
